*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial;
background:#f5fff5;

}

header{

background:#1B5E20;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

}

header h2{

color:white;

}

nav a{

color:white;
text-decoration:none;
margin-left:20px;

}

.hero{

text-align:center;
padding:80px;

}

.hero h1{

font-size:40px;
color:#2E7D32;

}

.hero p{

margin-top:20px;
font-size:20px;

}

.btn{

display:inline-block;
margin-top:30px;
padding:15px 35px;
background:#2E7D32;
color:white;
text-decoration:none;
border-radius:8px;

}

.feature{

display:flex;
justify-content:center;
gap:20px;
padding:60px;
flex-wrap:wrap;

}

.box{

width:300px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.2);
text-align:center;

}

footer{

background:#1B5E20;
color:white;
text-align:center;
padding:20px;

}
